@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
/* header fondo con gradiente */
header{
    background: rgb(215,143,183);
    background: linear-gradient(90deg, rgba(215,143,183,1) 0%, rgba(201,185,241,1) 100%);
    min-height: 250px;
}
#top{
    /* 1100x100  y CENTRADO */
    width: 1100px;
    margin: auto;
    height: 100px;

    display: flex;
    justify-content: space-between;

    /* centrar en vertical */
    align-items: center;
}
a{
    text-decoration: none;
}
    #top a, #bottom a {
        color: #fff;
    }
    #top a{
        font-size: 20px;
        font-weight: 600;
    }

    #top img{
        width: 56px;
        vertical-align: middle;
        margin-right: 8px;
    }
    #top nav a{
        font-size: 18px!important;
        padding: 14px;
    }

    h1{
        color: #fff;
        font-size: 32px;
    }
    header h1{
        width: 1100px;
        margin: auto;
        margin-top: 56px;
    }

/* MAIN */
main{
    min-height: 450px;
    width: 1100px;
    margin: auto;
}

/* ## sección index ## */
    #heroIndex{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #heroIndex article{
            width: 630px;
        }
        #heroIndex p{
            margin-top: 24px;
            color: #fff;
        }
        #heroIndex article a img{
            width: 20px;
            margin: 8px;
            vertical-align: middle;
        }
        #heroIndex article a{
            border: 1px solid #fff;
            padding: 8px 50px;
            border-radius: 50px;
            display: inline-block;
            text-align: center;
            margin: 30px 30px 0px 30px;
            color: #fff;
        }
        #heroIndex img{
            margin: 48px 120px 48px 0px;
        }

        #contenidoIndex{
            display: flex;
            justify-content: space-between;
            margin-top: 128px;
        }
            #contenidoIndex article{
                width: 280px;
                text-align: center;
            }

                #contenidoIndex article img{
                    width: 72px;
                    margin-bottom: 24px;
                }
                #contenidoIndex article p{
                    margin-top: 24px;
                }


/* ## sección features ## */
    #nuestraApp{
        display: flex;
        align-items: center;/* centrado vertical */

        justify-content: space-between;
        margin: 40px 0px;
    }
        #app{
            width: 580px;
        }
            #app p{
                margin: 18px 0px;
            }

    h2{
        font-size: 18px;
        font-weight: 600;
    }

    #features{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;/* para que respete los anchos */
        padding: 40px 0px 60px 0px;
    }
        #features article{
            width: 326px;
            margin-bottom: 48px;
        }
        #features h2 img{
            vertical-align: middle;
            margin-right: 12px;
        }
        #features article p{
            margin-top: 16px;
        }

/* ## sección nosotros ## */
    #nosotros{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 64px;
    }
    #nosotros img{
        width: 245px;
    }
    #nosotros span{
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
    }


/* FOOTER */
footer{
    background-color: #262626;
}

    #bottom {
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        height: 150px;
        align-items: center;
    }
    #bottom img{
        width: 32px;
        vertical-align: middle;
        margin-right: 8px;
    }

        #redes img{
            width: 16px;
        }